# Copy this file to .env and fill in your keys
# Get your FREE Groq API key at: https://console.groq.com
GROQ_API_KEY=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
SECRET_KEY=any_random_string_for_flask_sessions